
@import "~swiper/swiper-bundle.min.css";

@import "~bootstrap/scss/functions";
@import "utils/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

@import "utils/vars";
@import "utils/normalize";

@import "about";
@import "contacts";
@import "footer";
@import "forms";
@import "main-panel";
@import "navigation";
@import "services";

html {
  //line-height: $mainLineHeight;
  //font-size: $mainFontSize;
  //color: $mainFontColor;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Sarabun", sans-serif;
  font-size: $mainFontSize;
  //font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section,
.section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: 1200px) {
    padding: 36px 0;
  }
  @media screen and (max-width: 992px) {
    padding: 28px 0;
  }
  @media screen and (max-width: 768px) {
    padding: 20px 0;
  }
}

main {
  margin-top: 70px;
}

.thanks {
  background: url("../img/bg/1.jpg");
  background-size: cover;
}
.terms {
  background: url("../img/bg/2.jpg");
  background-size: cover;
}
.policy {
  background: url("../img/bg/4.jpg");
  background-size: cover;
}
/*
    TITLES START
 */
h2.section-title {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;

  &:after {
    position: absolute;
    content: "";
    left: -20px;
    bottom: -10px;
    width: 120px;
    border-bottom: 4px solid $main-color;
  }
}

h3.section-title {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
  padding-left: 40px;

  &:before {
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 30px;
    border-bottom: 4px solid $main-color;
  }
  @include media-breakpoint-down(lg) {
    margin-bottom: 10px;
  }
}
.primary-title {
  font-size: 14px;
  font-weight: bold;
  color: $primaryFontColor;
}
/*
    TITLES END
 */

/*
    TEXT START
 */
.page-top-text {
  padding-top: 200px;
  & h2 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  & p {
    font-weight: 300;
    font-size: 24px;
  }
}
.main-text {
  font-weight: bold;
  border-bottom: 2px solid $mainFontColor;
}
.text-light {
  color: $light-color;
}
/*
    TITLES END
 */
/*
    BUTTONS
 */
.main-btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  max-width: 300px;
  width: 100%;
  background-color: $main-color;
  color: $defaultFontColor;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border-radius: $br;
  &:hover {
    background-color: $primary-color;
    color: $lightFontColor;
  }
}
/*
    BUTTONS END
 */

/*
    LINKS START
 */
.main-link {
  display: block;
  padding: 5px 10px 5px;
  font-weight: 600;
  font-size: 14px;
  color: $primaryFontColor;
  cursor: pointer;
  border-bottom: 2px dashed $mainBorderColor;
  white-space: nowrap;
  &:hover {
    color: $defaultFontColor;
    border-bottom-style: solid;
  }
}
.def-link {
  display: block;
  padding: 5px 5px 5px 0;
  font-weight: 600;
  font-size: 14px;
  color: $lightFontColor;
  cursor: pointer;
  border-bottom: 2px dashed $mainBorderColor;
  white-space: nowrap;
  &:hover {
    border-bottom-style: solid;
  }
}
.primary-link {
  padding: 10px 5px 5px;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px dashed $lastBorderColor;
  color: $lastFontcolor;
  &:hover {
    border-bottom-style: solid;
  }
}
.light-link {
  color: #acaebc;
  &:hover {
    text-decoration: underline;
  }
}
.contact-link {
  border-bottom: 1px dashed $main-color;
  &:hover {
    border-bottom-color: $last-color;
  }
}
.discount-link {
  padding: 5px 10px;
  border: 1px solid deeppink;
  letter-spacing: 1px;
  background-color: deeppink;
  color: $light-color;
  display: block;
  border-radius: 2px;
  font-weight: bold;
  width: 100px;
  text-align: center;
  &:hover {
    border-color: $light-color;
  }
}
/*
    LINKS END
 */
/*
    WRAPPERS START
 */
.controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  a:nth-child(2) {
    margin: 20px;
  }
}
.feedback-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
/*
    WRAPPERS END
 */











