footer {
  background-color: #353649;
  ul {
    margin: 60px 0;
    @include media-breakpoint-down(lg) {
      margin: 30px 0 ;
    }
    li {
      margin-bottom: 10px;
      &:first-child {
        margin-bottom: 40px;
        color: $lightFontColor;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
